<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.symbol.search.mapper.ItemMapper" >
	
	<select id="getItemList" resultType="com.symbol.search.pojo.Item">
		SELECT
			id,
			title,
			sell_point,
			price,
			image,
			category_name,
			description
		FROM
			tb_item_all
	</select>

</mapper>